* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f8ff;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* common class  */
.container {
  box-sizing: border-box;
  max-width: 1140px;
  margin: 0px auto;
}
/* 
navigation flex */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
ul li a {
  text-decoration: none;
  color: black;
}
.ul li {
  list-style: none;
}
#cart {
  display: flex;
  align-items: center;
  gap: 8px;
}
#about-us,
#shop {
  color: #8987a1;
}
#home {
  color: #252432;
  font-weight: bold;
}
/* banner section  */
.banner {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.banner-left-content {
  padding-top: 120px;
  width: 50%;
}
.banner-right-content img {
  height: 100%;
  width: 100%;
  order: 2;
}
.banner-title {
  font-size: 4rem;
}
.title-color {
  color: #e95a08;
}
.banner-title-describtion {
  order: 1;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
/* our plants section */
.our-plants {
  margin-top: 160px;
}
.plants-title {
  font-size: 3.1rem;
  text-align: center;
  margin-bottom: 16px;
}
.plants-describtion {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}
.plants-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-item {
  /* max-width: 270px; */
  margin-top: 50px;
}
.card-item > img {
  margin-bottom: 20px;
  width: 100%;
}
.plants-name,
.plants-price {
  text-align: center;
}
.plants-price {
  margin-top: 10px;
}
.plants-add {
  border: none;
  background-color: #e95a08;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  width: 100%;
}
/* flower and planst lover  */
.plants-lover {
  display: flex;
  margin-top: 210px;
  margin-bottom: 130px;
  align-items: center;
  justify-content: space-between;
}
.plants-describtion-list {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  gap: 30px;
}

.plants-list-item {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
}
.flower-plants-title {
  margin-bottom: 16px;
  font-size: 3.1rem;
}
.plants-lover-left-content {
  position: relative;
}
.plants-lover-left-content .main-image {
  display: block;
}
.badge {
  position: absolute;
  width: 60%;
  left: 320px;
  top: -160px;
}
.plants-lover-left-content .main-image {
  width: 100%;
}
/* latest deal */
.deal-container {
  margin-top: 120px;
  display: flex;
  gap: calc(100% - 95%);
  height: 420px;
}
.deal-container img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}
.deal-left-content {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: calc(100% - 96%);
}
.deal-img1 {
  color: white;
  height: 48%;
  position: relative;
  text-align: center;
}
.deal-img2 {
  color: white;
  height: 48%;
  text-align: center;
  position: relative;
}
.deal-right-content {
  width: 65%;
  color: white;
  text-align: center;
  position: relative;
}
.discount-title1 {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.discount-title2 {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.discount-title3 {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.shadow {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: 100%;
  border-radius: 14px;
}
.discount-left-content {
  font-size: 1.2rem;
}
.discount-btn {
  color: white;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  font-size: 1rem;
}
.deal-right-content .discount-left-content {
  font-size: 3.2rem;
  font-weight: bold;
}
.deal-right-content .discount-btn {
  font-size: 1.6rem;
  border-bottom: 2px solid white;
}
/* user input boxes */
.user-input {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  margin-top: 120px;
  padding: 250px 150px 150px 150px;
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
}
.user-join {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 23px;
  color: white;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
form input[type="email"] {
  width: 50%;
  padding: 15px 20px;
  border: none;
}
form input[type="submit"] {
  width: 20%;
  padding: 15px 20px;
  border: none;
  background-color: #e95a08;
  color: white;
}
/* footer section styling */
.footer-container {
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}
.footer-describtion {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 16px;
}
.footer-list {
  list-style: none;
  color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.footer-right-content > img {
  margin-left: 25px;
}
@media screen and (max-width: 576px) {
  body {
    margin: 10px;
  }

  .nav li a:nth-child(1),
  .nav li a:nth-child(2),
  .nav li a:nth-child(3) {
    display: none;
  }
  .banner {
    flex-direction: column;
  }
  .banner-right-content {
    order: 1;
  }
  .banner-left-content {
    order: 2;
  }
  /* plants card  */
  .plants-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .plants-lover {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .plants-lover-left-content .badge {
    display: none;
  }
  .plants-describtion-list {
    padding-left: 20px;
  }
  /* latest deal responsive */
  .latest-deal {
    margin-top: 100px;
  }
  .deal-container {
    flex-direction: column;
    height: auto;
    margin-bottom: 60px;
  }
  .shadow {
    height: 98%;
  }
  .deal-left-content {
    width: 100%;
    gap: 20px;
  }
  .deal-right-content {
    width: 100%;
    margin-top: 20px;
  }
  .deal-left-content img {
    width: 100%;
  }
  .deal-right-content .discount-left-content,
  .user-join {
    font-size: 2rem;
  }

  /* user input section responsive */
  .user-input {
    margin-top: 40px;
    padding: 80px 20px 50px 20px;
  }
  /* footer itmes responsive */
  .footer-container {
    flex-direction: column;
  }
  .footer-describtion {
    text-align: center;
  }
  .footer-left-content {
    margin-bottom: 30px;
  }
  .footer-left-content .footer-logo {
    position: relative;
    margin-left: 35%;
  }
  .footer-right-content {
    margin-top: 20px;
    text-align: center;
  }
  .footer-right-content img {
    margin: 20px 20px 10px 0px;
  }
  .footer-list {
    margin-top: 20px;
    justify-items: center;
  }
}
