* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f8ff;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* common class  */
.container {
  box-sizing: border-box;
  max-width: 1140px;
  margin: 0px auto;
  /* border: 2px solid black; */
}
/* 
navigation flex */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
ul li a {
  text-decoration: none;
  color: black;
}
.ul li {
  list-style: none;
}
#cart {
  display: flex;
  align-items: center;
  gap: 8px;
}
#about-us,
#shop {
  color: #8987a1;
}
#home {
  color: #252432;
  font-weight: bold;
}
/* banner section  */
.banner {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.banner-left-content {
  padding-top: 135px;
}
.banner-right-content > img {
  display: block;
}
.banner-title {
  font-size: 4rem;
}
.title-color {
  color: #e95a08;
}
.banner-title-describtion {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
/* our plants section */
.our-plants {
  margin-top: 160px;
}
.plants-title {
  font-size: 3.1rem;
  text-align: center;
  margin-bottom: 16px;
}
.plants-describtion {
  text-align: center;
}
.plants-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card-item {
  max-width: 270px;
  margin-top: 50px;
}
.card-item > img {
  margin-bottom: 20px;
}
.plants-name,
.plants-price {
  text-align: center;
}
.plants-price {
  margin-top: 10px;
}
.plants-add {
  border: none;
  background-color: #e95a08;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  width: 100%;
}
/* flower and planst lover  */
.plants-lover {
  display: flex;
  margin-top: 210px;
  margin-bottom: 130px;
  align-items: center;
  justify-content: space-between;
}
.plants-describtion-list {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  gap: 30px;
}

.plants-list-item {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
}
.flower-plants-title {
  margin-bottom: 16px;
  font-size: 3.1rem;
}
.plants-lover-left-content {
  position: relative;
}
.badge {
  position: absolute;
  width: 60%;
  left: 320px;
  top: -160px;
}
.plants-lover-left-content .main-image {
  width: 100%;
}
